<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm flex gap-4">
    <fa-icon [icon]="faArrowLeft" routerLink="#" class="cursor-pointer px-10 h-2 w-10"></fa-icon>
    <h1 class=" mt-1 text-center text-2xl font-bold leading-3 tracking-tight text-gray-900">Inicia sesión</h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="form" (ngSubmit)="login()">
      <div>
        <label for="email" class="block text-sm font-bold leading-6 text-gray-900" >Email</label>
        <div class="input-group">
          <input formControlName="email" type="email" autocomplete="email" placeholder="Ingresa tu email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-black-400 focus:text-black focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
          <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-bold leading-6 text-gray-900">Contraseña</label>
        </div>
        <div class="input-group">
          <input formControlName="password" type="password" placeholder="Ingresa tu contraseña" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-black-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6">
          <fa-icon [icon]="faEye" class="icon"></fa-icon>
        </div>
      </div>

      <!-- <div>
        <input type="checkbox" class="font-bold">Recuerdame
      </div>

      <div class="text-sm">
        <a href="#" class="font-bold hover:text-gray-500">Recuperar contraseña</a>
      </div> -->

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-gray-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Iniciar sesión</button>
      </div>

      <div>
        <p>No tenés cuenta? <a routerLink="/register" class="font-semibold cursor-pointer">Registrarme</a>
        </p>
      </div>
    </form>
  </div>

        <!-- <form [formGroup]="formLogin" (ngSubmit)="login()">
          <div class="flex flex-col gap-2">
            <h1>Login</h1>
            <input type="email" formControlName="username" class="bg-purple-300 border border-gray-300" placeholder="email">
            <input type="password" formControlName="password" class="bg-purple-300" placeholder="password">
            <button type="submit" class="bg-gray-800 text-white">Enviar</button>
          </div>
        </form> -->
