<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm flex gap-4">
    <fa-icon [icon]="faArrowLeft" routerLink="#" class="cursor-pointer px-10 h-2 w-10"></fa-icon>
    <h1 class=" mt-1 text-center text-2xl font-bold leading-3 tracking-tight text-gray-900">Inicia sesión</h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="form" (ngSubmit)="login()">
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900">Email</label>
        <div class="mt-2">
          <input formControlName="email"  type="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
        </div>
        <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
          <p
            *ngIf="form.controls.email.hasError('required')"
            class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
            Este campo es obligatorio
          </p>
          <p
            *ngIf="form.controls.email.hasError('email')"
            class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
            Este campo debe contener un email válido
          </p>
          <p
          *ngIf="form.controls.email.hasError('noDoubleAt')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
            El email no debe contener doble arroba.
          </p>
          <p
          *ngIf="form.controls.email.hasError('invalidEmail')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
            El formato de email es inválido.
          </p>
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-bold leading-6 text-gray-900">Contraseña</label>
        </div>
        <div class="input-group">
          <input formControlName="password" type="password" placeholder="Ingresa tu contraseña" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-black-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6">
          <!-- <fa-icon [icon]="faEye" class="icon"></fa-icon> -->
        </div>
        <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
          <p
          *ngIf="form.controls.password.hasError('required')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
          Este campo es obligatorio
          </p>
          <p
          *ngIf="form.controls.password.hasError('minlength')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
          Este campo debe tener como mínimo 8 caracteres.
          </p>
          <p
          *ngIf="form.controls.password.hasError('maxlength')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
          Este campo debe tener como máximo 128 caracteres.
          </p>
          <p
          *ngIf="form.controls.password.hasError('caracterEspecial')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
          Este campo debe contener al menos un caracter especial.
          </p>
          <p
          *ngIf="form.controls.password.hasError('numero')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
          Este campo debe contener al menos un número.
          </p>
          <p
          *ngIf="form.controls.password.hasError('letraMayuscula')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
          Este campo debe contener al menos una letra mayúscula.
          </p>
          <p
          *ngIf="form.controls.password.hasError('letraMinuscula')"
          class="mt-1 ml-1 text-xs font-medium text-red-500"
          >
          Este campo debe contener al menos una letra minúscula.
          </p>
      </div>
      </div>

      <!-- <div>
        <input type="checkbox" class="font-bold">Recuerdame
      </div>

      <div class="text-sm">
        <a href="#" class="font-bold hover:text-gray-500">Recuperar contraseña</a>
      </div> -->

      <div>
        <button type="submit" [disabled]="form.invalid" type="submit" [ngClass]="{'cursor-not-allowed': form.invalid}"  class="flex w-full justify-center rounded-md bg-[#0CA1C2] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#0ca1c2d0] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0CA1C2]">Login</button>
      </div>

      <div>
        <p>No tenés cuenta? <a routerLink="/register" class="font-semibold cursor-pointer">Registrarme</a>
        </p>
      </div>
    </form>
  </div>
