<cdk-accordion class="example-accordion">
  <cdk-accordion-item
    *ngFor="let item of items; let index = index;"
    #accordionItem="cdkAccordionItem"
    class="example-accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index">
    <div class="example-accordion-item-header flex pl-4 pr-6 py-4" (click)="accordionItem.toggle()">
      {{ item }}
      <div class="w-full"></div>
      <fa-icon [icon]="faChevronDown">{{ accordionItem.expanded ? 'close' : 'open' }}</fa-icon>
      <!-- <span class="example-accordion-item-description">
        Click to {{ accordionItem.expanded ? 'close' : 'open' }}
      </span> -->
    </div>
    <div
      class="example-accordion-item-body p-4"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
      excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
      veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
    </div>
  </cdk-accordion-item>

  <!-- Item 1 -->

  <cdk-accordion-item
  #accordionItem="cdkAccordionItem"
  class="example-accordion-item"
  role="button"
  tabindex="0"
  [attr.id]="'accordion-header-1'"
  [attr.aria-expanded]="accordionItem.expanded"
  [attr.aria-controls]="'accordion-body-1'">
  <div class="example-accordion-item-header flex pl-4 pr-6 py-4" (click)="accordionItem.toggle()">
    <p>Ordenar</p>
    <div class="w-full"></div>
    <fa-icon [icon]="faChevronDown">{{ accordionItem.expanded ? 'close' : 'open' }}</fa-icon>
  </div>
  <div
    class="example-accordion-item-body p-4 bg-green-300"
    role="region"
    [style.display]="accordionItem.expanded ? '' : 'none'"
    [attr.id]="'accordion-body-1'"
    [attr.aria-labelledby]="'accordion-header-1'">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
    excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
    veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
  </div>
</cdk-accordion-item>

<!-- Item 2 -->

<cdk-accordion-item
#accordionItem2="cdkAccordionItem"
class="example-accordion-item"
role="button"
tabindex="0"
[attr.id]="'accordion-header-2'"
[attr.aria-expanded]="accordionItem2.expanded"
[attr.aria-controls]="'accordion-body-2'">
<div class="example-accordion-item-header flex pl-4 pr-6 py-4" (click)="accordionItem2.toggle()">
  <p>Precio</p>
  <div class="w-full"></div>
  <fa-icon [icon]="faChevronDown">{{ accordionItem.expanded ? 'close' : 'open' }}</fa-icon>
</div>
<div
  class="example-accordion-item-body p-4 bg-pink-300"
  role="region"
  [style.display]="accordionItem2.expanded ? '' : 'none'"
  [attr.id]="'accordion-body-2'"
  [attr.aria-labelledby]="'accordion-header-2'">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
  excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
  veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
</div>
</cdk-accordion-item>


<!-- Item 3 -->

<cdk-accordion-item
#accordionItem3="cdkAccordionItem"
class="example-accordion-item"
role="button"
tabindex="0"
[attr.id]="'accordion-header-2'"
[attr.aria-expanded]="accordionItem3.expanded"
[attr.aria-controls]="'accordion-body-2'">
<div class="example-accordion-item-header flex pl-4 pr-6 py-4" (click)="accordionItem3.toggle()">
  <p>Distancia</p>
  <div class="w-full"></div>
  <fa-icon [icon]="faChevronDown">{{ accordionItem3.expanded ? 'close' : 'open' }}</fa-icon>
</div>
<div
  class="example-accordion-item-body p-4 bg-yellow-200"
  role="region"
  [style.display]="accordionItem3.expanded ? '' : 'none'"
  [attr.id]="'accordion-body-2'"
  [attr.aria-labelledby]="'accordion-header-2'">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
  excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
  veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
</div>
</cdk-accordion-item>

<!-- Item 4 -->

<cdk-accordion-item
#accordionItem4="cdkAccordionItem"
class="example-accordion-item"
role="button"
tabindex="0"
[attr.id]="'accordion-header-2'"
[attr.aria-expanded]="accordionItem4.expanded"
[attr.aria-controls]="'accordion-body-2'">
<div class="example-accordion-item-header flex pl-4 pr-6 py-4" (click)="accordionItem4.toggle()">
  <p>Capacidad</p>
  <div class="w-full"></div>
  <fa-icon [icon]="faChevronDown">{{ accordionItem4.expanded ? 'close' : 'open' }}</fa-icon>
</div>
<div
  class="example-accordion-item-body p-4 bg-yellow-200"
  role="region"
  [style.display]="accordionItem4.expanded ? '' : 'none'"
  [attr.id]="'accordion-body-4'"
  [attr.aria-labelledby]="'accordion-header-4'">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
  excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
  veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
</div>
</cdk-accordion-item>

<!-- Item 5 -->

<cdk-accordion-item
#accordionItem5="cdkAccordionItem"
class="example-accordion-item"
role="button"
tabindex="0"
[attr.id]="'accordion-header-5'"
[attr.aria-expanded]="accordionItem5.expanded"
[attr.aria-controls]="'accordion-body-5'">
<div class="example-accordion-item-header flex pl-4 pr-6 py-4" (click)="accordionItem5.toggle()">
  <p>Servicios</p>
  <div class="w-full"></div>
  <fa-icon [icon]="faChevronDown">{{ accordionItem5.expanded ? 'close' : 'open' }}</fa-icon>
</div>
<div
  class="example-accordion-item-body p-4 bg-yellow-200"
  role="region"
  [style.display]="accordionItem5.expanded ? '' : 'none'"
  [attr.id]="'accordion-body-5'"
  [attr.aria-labelledby]="'accordion-header-5'">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
  excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
  veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
</div>
</cdk-accordion-item>
</cdk-accordion>


<div class="bg-[#DDDDDD] text-gray-400 flex p-4">
  <div class="w-96">
    <p class="w-full text-sm">999 lugares</p>
    <a class="w-full text-sm underline" href="/">Borrar filtros</a>
  </div>
  <div class="w-full"></div>
  <div>
    <button class="bg-[#848484] text-white p-2 rounded-md w-40">Mostrar resultados</button>
  </div>
</div>
