<div class="min-h-[calc(100vh-72px)] md:min-h-[calc(100vh-90px)] max-w-[1280px] flex flex-col mx-auto">
  <div class="flex flex-col gap-2 px-4 md:pt-10">
    <div class="py-5">
      <a routerLink="/profile" class="text-2xl font-bold"><fa-icon class="text-xl me-4" [icon]="faArrowLeft"></fa-icon>Mis datos</a>
    </div>
    <p class="text-sm md:text-base">nombre y mail del usuario</p>
  </div>
  <div class="flex flex-col flex-grow px-4 py-6 md:pt-10">
    <form class="flex flex-col justify-between flex-grow" [formGroup]="newUserDataForm" (ngSubmit)="submitNewData()">

      <!-- vista mobile -->
      <cdk-accordion class="flex flex-col gap-6 example-accordion md:hidden">

        <cdk-accordion-item #accordionItem1="cdkAccordionItem" class="example-accordion-item" tabindex="0"
          [attr.id]="'accordion-header-1'" [attr.aria-expanded]="accordionItem1.expanded"
          [attr.aria-controls]="'accordion-body-1'">
          <div role="button" class="flex flex-col gap-2" (click)="accordionItem1.toggle()">
            <div class="flex py-3 border-b border-[#CCCCCC] justify-between">
              <p class="font-semibold">Nombre elegido</p>
              <fa-icon class="px-2 duration-200" [icon]="faChevronDown"
              [ngClass]="accordionItem1.expanded ? 'rotate-[-180deg]' : ''"></fa-icon>
            </div>
            <p class="text-[#919191] text-sm">Edita tu nombre y apellido</p>
          </div>
          <div class="pt-2 text-sm" role="region" [style.display]="accordionItem1.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-1'" [attr.aria-labelledby]="'accordion-header-1'">
            <div class="flex flex-col py-6 gap-9">
              <div class="flex flex-col gap-2">
                <p class="font-medium">Nombre</p>
                <label for="name" class="focus-within:text-black focus-within:bg-woco-blue-4 focus-within:border focus-within:border-woco-blue-1 text-[#A7A7A7] flex px-4 py-3 bg-[#F4F4F4] rounded-lg border border-transparent">
                  <input [(ngModel)]="newUserDataForm.getRawValue().name" id="name" formControlName="name" class="focus:bg-woco-blue-4 w-full font-medium text-sm bg-[#F4F4F4] outline-none" type="text w-full">
                  <fa-icon class="text-xl" [icon]="faUser"></fa-icon>
                </label>
              </div>
              <div class="flex flex-col gap-2">
                <p class="text-sm font-medium">Apellido</p>
                <label for="last-name"
                  class="focus-within:text-black focus-within:bg-woco-blue-4 focus-within:border focus-within:border-woco-blue-1 text-[#A7A7A7] flex px-4 py-3 bg-[#F4F4F4] rounded-lg border border-transparent">
                  <input [(ngModel)]="newUserDataForm.getRawValue().lastName" id="last-name" formControlName="lastName"
                    class="focus:bg-woco-blue-4 w-full font-medium text-sm bg-[#F4F4F4] outline-none" type="text w-full">
                  <fa-icon class="text-xl" [icon]="faUser"></fa-icon>
                </label>
              </div>
            </div>
          </div>
        </cdk-accordion-item>

        <cdk-accordion-item #accordionItem2="cdkAccordionItem" class="example-accordion-item" tabindex="0"
          [attr.id]="'accordion-header-2'" [attr.aria-expanded]="accordionItem1.expanded"
          [attr.aria-controls]="'accordion-body-2'">
          <div role="button" class="flex flex-col gap-2" (click)="accordionItem2.toggle()">
            <div class="flex justify-between py-3 border-b border-[#CCCCCC]">
              <p class="font-semibold">Email</p>
              <fa-icon class="px-2 duration-200" [icon]="faChevronDown" [ngClass]="accordionItem2.expanded ? 'rotate-[-180deg]' : ''"></fa-icon>
            </div>
            <p class="text-[#919191] text-sm">Edita tu correo eléctronico</p>
          </div>
          <div class="pt-2 text-sm" role="region" [style.display]="accordionItem2.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-2'" [attr.aria-labelledby]="'accordion-header-2'">
            <div class="flex flex-col py-6 gap-9">
              <div class="flex flex-col gap-2">
                <p class="text-sm font-medium">Email</p>
                <label for="email"
                  class="focus-within:text-black focus-within:bg-woco-blue-4 focus-within:border focus-within:border-woco-blue-1 text-[#A7A7A7] flex px-4 py-3 bg-[#F4F4F4] rounded-lg border border-transparent">
                  <input [(ngModel)]="newUserDataForm.getRawValue().email" id="email" formControlName="email"
                    class="focus:bg-woco-blue-4 w-full font-medium text-sm bg-[#F4F4F4] outline-none" type="text w-full">
                  <fa-icon class="text-xl" [icon]="faEnvelope"></fa-icon>
                </label>
              </div>
            </div>
          </div>
        </cdk-accordion-item>
        
      </cdk-accordion>

      <!-- vista desktop -->
      <div class="justify-center hidden gap-6 md:flex md:items-start md:flex-wrap">      
        
        <div class="px-6 py-3 rounded-lg border border-[#A7A7A7] w-[411px] gap-8">
          <div class="flex flex-col gap-2">
            <div class="flex justify-between py-3 border-b border-[#CCCCCC]">
              <p class="flex font-semibold"><fa-icon class="hidden me-2 md:block" [icon]="faUser"></fa-icon>Nombre elegido</p>
              <fa-icon class="px-3 md:hidden" [icon]="faUser"></fa-icon>
            </div>
            <p class="text-[#919191] text-sm">Edita tu nombre y apellido</p>
          </div>
          <div class="py-5">
            <div class="flex flex-col gap-2">
              <p class="text-sm font-medium">Nombre</p>
              <label for="name"
                class="focus-within:text-black focus-within:bg-woco-blue-4 focus-within:border focus-within:border-woco-blue-1 text-[#A7A7A7] flex px-4 py-3 bg-[#F4F4F4] rounded-lg border border-transparent">
                <input [(ngModel)]="newUserDataForm.getRawValue().name" id="name" formControlName="name"
                  class="focus:bg-woco-blue-4 w-full font-medium text-sm bg-[#F4F4F4] outline-none" type="text w-full">
                <fa-icon class="text-xl" [icon]="faUser"></fa-icon>
              </label>
            </div>
          </div>
          <div class="py-5">
            <div class="flex flex-col gap-2">
              <p class="text-sm font-medium">Apellido</p>
              <label for="last-name"
                class="focus-within:text-black focus-within:bg-woco-blue-4 focus-within:border focus-within:border-woco-blue-1 text-[#A7A7A7] flex px-4 py-3 bg-[#F4F4F4] rounded-lg border border-transparent">
                <input [(ngModel)]="newUserDataForm.getRawValue().lastName" id="last-name" formControlName="lastName"
                  class="focus:bg-woco-blue-4 w-full font-medium text-sm bg-[#F4F4F4] outline-none" type="text w-full">
                <fa-icon class="text-xl" [icon]="faUser"></fa-icon>
              </label>
            </div>
          </div>
        </div>

        <div class="px-6 py-3 rounded-lg border border-[#A7A7A7] w-[411px] gap-8">
          <div class="flex flex-col gap-2">
            <div class="flex justify-between py-3 border-b border-[#CCCCCC]">
              <p class="flex font-semibold"><fa-icon class="hidden me-2 md:block" [icon]="faEnvelope"></fa-icon>Nombre elegido</p>
              <fa-icon class="px-3 md:hidden" [icon]="faEnvelope"></fa-icon>
            </div>
            <p class="text-[#919191] text-sm">Edita tu correo eléctronico</p>
          </div>
          <div class="py-5">
            <div class="flex flex-col gap-2">
              <p class="text-sm font-medium">Nombre</p>
              <label for="email"
                class="focus-within:text-black focus-within:bg-woco-blue-4 focus-within:border focus-within:border-woco-blue-1 text-[#A7A7A7] flex px-4 py-3 bg-[#F4F4F4] rounded-lg border border-transparent">
                <input [(ngModel)]="newUserDataForm.getRawValue().email" id="email" formControlName="email"
                  class="focus:bg-woco-blue-4 w-full font-medium text-sm bg-[#F4F4F4] outline-none" type="text w-full">
                <fa-icon class="text-xl" [icon]="faEnvelope"></fa-icon>
              </label>
            </div>
          </div>
          
        </div>
        
      </div>
      
      <div class="flex justify-center">
        <button type="submit" class="p-3 w-full md:max-w-[411px] mt-6 font-bold text-white rounded-lg bg-woco-blue-2 hover:bg-black hover:text-woco-blue-2">Guardar cambios</button>
      </div>
    </form>
  </div>
</div>