

<app-navbar></app-navbar>

<!-- <div class="flex justify-between w-full px-4 py-2 font-semibold bg-gray-200 pr-96">
  <fa-icon [icon]="faBars" class="p-2 cursor-not-allowed"></fa-icon>
  <div class="p-2 cursor-pointer" routerLink="/home">Home</div>
  <div class="p-2 cursor-pointer" routerLink="/map">Map</div>
  <div class="p-2 cursor-pointer" routerLink="/login">Login</div>
  <div class="p-2 cursor-pointer" routerLink="/register">Register</div>
</div> -->

<router-outlet></router-outlet>
<app-footer></app-footer>
