ol{
    list-style: none;
    display: grid;
    grid-template-columns:  repeat(7, 1fr);
    padding: 0px;
 
}

li{
    text-align: center;
 
}

ol > li {
    margin: 3px;
    width: 36px;
    text-align: center;
    border-radius: 4px;
}

ol > li:hover{
    background-color: #000000;
    color: #FFFF;
    cursor: pointer;
}


ol > li.selected {
    background-color: #000000;
    color: #FFFF;
  }
  
.selected{
    background-color: #000000;
    color: #FFFF;
}

.calendar-container::-webkit-scrollbar {
    display: none;
 
}


.calendar-container{
    scrollbar-width: none;
}