@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

body{
    font-family: 'Inter';
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
  }

  fa-icon{
    color: #015F75;
  }
  
  h2, h3, h1 {
    margin: 0;
  }
 
 svg{
  display: block;
  margin: auto;
 }
  
  .gray-text {
    color: gray;
  }
  
  .info-section {
    margin-bottom: 20px;
    font-weight: 00;
  }
  
  .info-links {
    display: flex;
    flex-direction: column;
    font-weight: 100;
  }

  .info-links:hover{
    display: flex;
    flex-direction: column;
    color: rgb(37, 37, 37);
    font-weight: 100;
  }
  
 .faq-section {
    margin-bottom: 20px;
    text-align: center;
    color: #015F75;
  }

  .publish-section{
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E6FAFF;
    color: #015F75;
    text-decoration: none;
    border-radius: 8px #015F75;
    justify-content: center;
    border-color: #015F75;
    margin-bottom: 1px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }

  a.btn

  a{
    color: gray;
    font-weight: 100;
  }

  a:hover{
    color: rgb(37, 37, 37);
    font-weight: 100;
  }

  .btn:hover{
    display: inline-block;
    padding: 10px 20px;
    background-color: #bfd3d8;
    color: #01404e;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
  }

  .social-section {
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 5px;
    color: #333;
    font-size: 20px;
  }

  @media(min-width: 800px) {
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #E6FAFF;
      color: #015F75;
      text-decoration: none;
      border-radius: 8px #015F75;
      justify-content: left;
      border-color: #015F75;
      margin-bottom: 1px;
      border-width: 2px;
      border-style: solid;
      border-radius: 8px;
      align-items: left;
      align-content: left;
    }

    .social-section {
      text-align: center;
    }

    .social-section p{
      color: gray;
    }
    
    .social-icons {
      display: flex;
      justify-content: center;
    }
    
    .social-icons a {
      display: inline-block;
      margin: 0 5px;
      color: #333;
      font-size: 50px;
    }

    .faq-section {
      margin-bottom: 20px;
      text-align: left;
      color: #015F75;
    }

  }