<footer>
  <!-- info  -->
    <div class="info-section">
      <h2 class="font-bold">Información</h2>
      <div class="info-links">
        <a href="#">Quiénes somos</a>
        <a href="#">Contactános</a>
        <a href="#">Legales</a>
      </div>
    </div>
    <!-- final info  -->

    <div class="publish-section">
      <h2 class="font-bold">Cómo publicar mi espacio</h2>
      <a  href="#">Requisitos de mi espacio</a>
    </div>
    <!-- Boton -->
    <h2 class="font-bold" >Preguntas Frecuentes</h2>
    <br>
    <div class="faq-section">
      <a href="#" class="btn">Anunciar mi espacio</a>
    </div>

    <!-- Redes  -->
    <div class="social-section">
      <h1 class="font-bold">¡Seguinos en nuestras redes!</h1>
      <div class="social-icons">
        <fa-icon [icon]="faTwitter" routerLink="#" class="cursor-pointer px-3"></fa-icon>
        <fa-icon [icon]="faInstagram" routerLink="#" class="cursor-pointer px-3"></fa-icon>
        <fa-icon [icon]="faFacebook" routerLink="#" class="cursor-pointer px-3"></fa-icon>
      </div>

      <!-- Dirección y derechos  -->
      <p class="font-medium text-center">Calle Falsa Nº123</p>
      <p class="font-medium text-center">© 2023 WOCO - Derechos reservados</p>
    </div>
  </footer>
