<ng-template #modalTemplate>
    <div class="fixed inset-0 flex items-center justify-center ">
      <div class="bg-white rounded-lg shadow-lg p-4 w-[500px] h-[500px]">
        <div class="flex justify-between border-b">
            <h1 class="text-xl font-bold mb-2">Cantidad de personas</h1>
          <button class="rounded-lg p-2 hover:bg-gray-200" (click)="closeModalPersons()">
            <svg class="w-4 h-4" viewBox="0 0 24 24">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path>
            </svg>
          </button>
        </div>
        <div class="p-4">
          
         
          <p>alo policia</p>
        </div>
      </div>
    </div>
  </ng-template>
  
