<form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest" class="flex flex-col gap-4 "  >
  <div class="flex-col flex justify-between gap-2">
    <label for="name">Nombre titular</label>
    <div  class="mb-2"
      class="flex w-full  items-center rounded-lg bg-[#F4F4F4] justify-between focus-within:border focus-within:bg-woco-blue-4 focus-within:border-[#015F75] ">
      <input type="text" formControlName="name" placeholder="Ingresa Nombre"
        class="ms-2  bg-[#F4F4F4] flex   focus:outline-none focus:text-black focus:ring-0 focus:bg-woco-blue-4"
        [ngClass]="{'bg-[#FFEBE5] border-[#EB674A]  placeholder:text-black': stripeTest?.errors && stripeTest.touched}">
      <fa-icon [icon]="faUser" class="pe-4 text-[#A7A7A7]"></fa-icon>
    </div>

  </div>

  <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions" class="flex flex-col gap-4  bg-[#F4F4F4]  p-3 rounded-lg focus-within:border focus-within:bg-woco-blue-4 focus-within:border-[#015F75]"></ngx-stripe-card>

  <button type="submit" [disabled]="stripeTest.invalid" [ngClass]="{'cursor-not-allowed': stripeTest.invalid}"  class="bg-[#0CA1C2] text-[#FFFFFF] w-full  sm:w-[153px] h-[43px] rounded-md m-auto">
    Pagar
  </button>

  <div class="flex justify-around bg-[#FFFFFF] py-3 mt-auto shadow-[0_-4px_8px_0px_rgba(0,0,0,0.12)]">
    <div class="flex-col m-auto">
        <fa-icon class="text-sm" [icon]="faUser"></fa-icon>  nomada <span
            class="inline-block align-middle rounded-full w-[4px] h-[4px] caret-lime-50 bg-black"></span>20 de mayo
        <h5 class="font-extrabold">$232</h5>
    </div>

    <button class="bg-[#0CA1C2] text-[#FFFFFF]  w-[153px] h-[43px] rounded-md m-auto"
        href="#details">Finalizar</button>

</div>

</form>