<ng-container *ngIf="workspace; else loading">

  <div class="flex flex-col min-h-screen">

    <div>
            
      <div class="fixed w-full">
        <div class="relative">
          <div class="absolute top-0 z-40 flex justify-between w-full p-4">
            <a routerLink="/home" class="flex items-center justify-center w-8 rounded-full aspect-square bg-zinc-50"><fa-icon
                [icon]="faArrowLeft"></fa-icon></a>
            <div class="flex gap-3">
              <button class="w-8 rounded-full aspect-square bg-zinc-50"><fa-icon [icon]="faShareNodes"></fa-icon>
              </button>
              <button class="w-8 rounded-full aspect-square bg-zinc-50"><fa-icon [icon]="faHeart"></fa-icon>
              </button>
            </div>
          </div>
          <div class="absolute z-30 flex justify-between w-full h-full p-5">
            <button class="p-3 text-white" (click)="previo()"><fa-icon [icon]="faChevronLeft"></fa-icon></button>
            <button class="p-3 text-white" (click)="next()"><fa-icon [icon]="faChevronRight"></fa-icon></button>
          </div>
          <div class="absolute z-30 flex justify-center w-full gap-2 bottom-4">
            <div [ngClass]="displayedImage == i? 'bg-white' : 'bg-white/40'" class="w-2 h-2 rounded-full drop-shadow-lg"
              *ngFor="let image of workspace.images; let i = index"></div>
          </div>
          <div id="carousel" class="flex w-full">
            <img class="w-full h-[224px] object-cover" src="{{workspace.images[displayedImage]}}" alt="">
          </div>
        </div>
      </div>
      
      <div class="pt-[224px]">
        <div class="flex flex-col gap-1 px-4 py-2 text-sm">
          <p class="text-xl font-bold">{{workspace.name}}</p>
          <p class="font-semibold">{{workspace.price | currency:'USD':'symbol':'1.0-0'}}</p>
          <p class="text-gray-500"><fa-icon class="me-2" [icon]="faLocationDot"></fa-icon>{{workspace.location}}</p>
          <div class="flex items-center gap-2 text-sm">
            <div class="flex items-center gap-2 p-1 px-2 bg-gray-300 rounded-lg">
              <fa-icon [icon]="faStar"></fa-icon>
              <p class="text-xs">{{workspace.rating | averageRating | number:'1.1-1'}}</p>
            </div>
            <p>{{workspace.rating.length}} calificaciones</p>
          </div>
        </div>
      </div>
      
    </div>

    <router-outlet></router-outlet>
    
  </div>
  
</ng-container>

<ng-template #loading>

  <div class="flex items-center justify-center min-h-screen bg-red-200">
    <p>cargando...</p>
  </div>
  
</ng-template>