/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

.custom-slider .ngx-slider .ngx-slider-selection,
.ngx-slider-pointer,
.ngx-slider-pointer-min,
.ngx-slider-pointer-max {
  background: rgb(138, 9, 224) !important;
}

.ngx-slider-pointer {
  top: -6px !important;
  width: 16px !important;
  height: 16px !important;
  outline: none !important;
}

.ngx-slider-bar {
  height: 3px !important;
}

.ngx-slider-pointer::after  {
  background-color: red !important;
  width: 0 !important;
}

.ngx-slider-model-value, .ngx-slider-model-high, .ngx-slider-floor, .ngx-slider-ceil {
  display: none !important;
}

.ngx-slider {
  margin: 0 !important;
}

app-search-filters {
  background-color: white;
  border-radius: 10px 10px 0 0;
}
