.bforward{
  color:#015F75;
  background-color: #E6FAFF;
  border: 1px solid #015F75;
}
.bforward:hover{
  color:#E6FAFF;
  background-color: #015F75;
  border: 1px solid #E6FAFF;
}
.bback:hover{
  color:#E6FAFF;
  background-color: #015F75;
  border: 1px solid #E6FAFF;
}

/* Existing styles for drag-and-drop */
.drag-drop-container {
  display: flex;
  justify-content: center;
}

.drag-drop-item {
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  cursor: grab;
}

/* New styles for square container and upload button */
.square {
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

/* Styling the file input button */
.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
