<div  class="w-full  flex-col flex container mx-auto min-h-screen">
    <app-alerts-reservation></app-alerts-reservation>
    <div *ngIf="!detailsOpen">
        <div class="flex-col flex gap-[24px] px-4 py-3 bg-[#F4F4F4] mb-[15px]">
            <div>
                <h5 class="border-b pb-[16px] mb-2 text-[20px] font-semibold ">Tu reserva</h5>
                <p>Añade fechas y dantidad de personas para ver el precio total.</p>
            </div>
            <div class="flex  justify-between ">

                <div>
                    <h5>Fechas</h5>
                    <p>1 al 5 de julio</p>
                </div>
                <button class="underline-offset-4 underline font-bold" (click)="openModalSchedule()">Editar</button>
            </div>
            <div class="flex justify-between ">
                <div>
                    <h5>Cantidad de personas</h5>
                    <p>1 nomada</p>
                </div>
                <button class="underline-offset-4 underline font-bold" (click)="openModalPerson()">Editar</button>
            </div>
            <div class="flex justify-center bg-[#E6FAFF] text-[#015F75]  border-[#015F75] border  rounded h-[40px] ">
                <p class="m-auto justify-center text-center">
                    <fa-icon class="text-xl text-[#015F75]" [icon]="faCircleCheck"></fa-icon> Las fechas están disponibles
                </p>
            </div>
        </div>
        <app-schedule-modal></app-schedule-modal>
        <app-modal-persons></app-modal-persons>
        <div class="flex-col px-4 py-3 bg-[#F4F4F4] flex mb-4">
            <div>
                <h5 class="border-b pb-[16px] mb-2 text-[20px] font-semibold ">Detalles del precio</h5>
            </div>
            <div class="flex pt-6  justify-between  border-b border-dashed">
                <div>
                    <h5>$99 por 7 dias</h5>
                    <p>Tarifa por servicio</p>
                </div>

                <div>
                    <h5>$499</h5>
                    <h5>$100</h5>
                </div>
            </div>
            <div class="flex justify-between mt-2">
                <div>
                    <h5>Total Precio ($ Pesos)</h5>
                </div>
                <p>$595</p>
            </div>
            <div class="flex justify-center underline underline-offset-2">
                Más información
            </div>

        </div>

        <div class="flex justify-center  rounded h-[40px] bg-[#E6FAFF] text-[#015F75]  border-[#015F75] border   w-[328px] m-auto cursor-pointer "
            *ngIf="!detailsOpen">
            <a class="m-auto justify-center text-center"
                href="https://web.whatsapp.com/send?phone=3454062217&text=¡Hola! Estoy interesado en contratar un espacio de cowork en su ubicación. Me gustaría obtener más información sobre los servicios y las tarifas disponibles. ¿Podrían proporcionarme detalles sobre la disponibilidad de espacios, los servicios incluidos y los precios? ¡Espero su pronta respuesta! Gracias.">Contacta
                al propietario <fa-icon class="text-sm text-[#015F75]" [icon]="faPhone"></fa-icon></a>
        </div>

    </div>

    <div class="container mx-auto w-full px-4" *ngIf="detailsOpen">
        <div class="border-b pb-[16px] flex justify-between m-4">
            <h5>Detalles de tu reserva</h5>
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>

        <div
            class="flex justify-center bg-[#E6FAFF] text-[#015F75]  border-[#015F75] border rounded h-[40px]  w-[328px] m-auto cursor-pointer ">
            <a class="m-auto justify-center text-center"
                href="https://web.whatsapp.com/send?phone=3454062217&text=¡Hola! Estoy interesado en contratar un espacio de cowork en su ubicación. Me gustaría obtener más información sobre los servicios y las tarifas disponibles. ¿Podrían proporcionarme detalles sobre la disponibilidad de espacios, los servicios incluidos y los precios? ¡Espero su pronta respuesta! Gracias.">Contacta
                al propietario <fa-icon class="text-sm text-[#015F75]" [icon]="faPhone"></fa-icon></a>

        </div>

        <form class="flex flex-col  justify-center" [formGroup]="personalData" (ngSubmit)="onLoginFormSubmit()">


            <div class="border-b border-dashed flex flex-col gap-4 pb-4">
                <h5 class="border-b pb-[16px] mb-2 text-[20px] font-semibold " #details>Datos personales</h5>

                <div class="flex-col flex ">
                    <label for="email" class="mb-2">Email</label>
                    <input type="email" class="py-2 border rounded ps-4 bg-[#F4F4F4]" placeholder="mail@ejemplo.com"
                        formControlName="email">
                    <div *ngIf="email?.errors && email?.touched">
                        <div *ngIf="personalData.get('email')?.hasError('required')" class="text-[#BB4E4E] text-[13px]">
                            El correo electrónico es requerido
                        </div>
                    </div>
                    <div class="flex mt-2">
                        <div class="flex">
                            <input type="checkbox" class="text-start rounded m-auto flex me-1 "
                                formControlName="receiveNotifications">
                        </div>
                        <p> Recibir notificaciones y ofertas.</p>
                    </div>
                </div>

                <div class="flex-col flex">
                    <label for="" class="mb-2">Nombre</label>
                    <input type="text" class="py-2 border rounded ps-4 bg-[#F4F4F4]" placeholder="ingresa tu nombre"
                        formControlName="name">
                    <div *ngIf="name?.errors && name?.touched">
                        <div *ngIf="personalData.get('name')?.hasError('required')" class="text-[#BB4E4E] text-[13px]">
                            El nombre es requerido
                        </div>
                    </div>
                </div>

                <div class="flex-col flex">
                    <label for="" class="mb-2">Apellido</label>
                    <input type="text" class="py-2 border rounded ps-4 bg-[#F4F4F4]" placeholder="ingresa tu apellido"
                        formControlName="lastName">
                    <div *ngIf="lastName?.errors && lastName?.touched">
                        <div *ngIf="personalData.get('lastName')?.hasError('required')"
                            class="text-[#BB4E4E] text-[13px]">
                            El apellido es requerido
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-4 pt-4">
                <h5 class="border-b pb-[16px] mb-2 text-[20px] font-semibold ">Metodo de pago</h5>
                <div class="flex-col flex">
                    <label for="" class="mb-2">Nombre titular</label>
                    <input type="text" class="py-2 border rounded ps-4 bg-[#F4F4F4]" placeholder="Ingresa nombre"
                        formControlName="ownerName">
                    <div *ngIf="ownerName?.errors && ownerName?.touched">
                        <div *ngIf="personalData.get('ownerName')?.hasError('required')"
                            class="text-[#BB4E4E] text-[13px]">
                            El nombre titular es requerido
                        </div>
                    </div>
                </div>

                <div class="flex-col flex">
                    <label for="" class="mb-2">Numero de tarjeta</label>
                    <input type="number" class="py-2 border rounded ps-4 bg-[#F4F4F4]" placeholder="0000 0000 0000 0000"
                        formControlName="cardNumber">
                    <div *ngIf="cardNumber?.errors && cardNumber?.touched">
                        <div *ngIf="personalData.get('cardNumber')?.hasError('required')"
                            class="text-[#BB4E4E] text-[13px]">
                            El número de tarjeta es requerido
                        </div>
                    </div>
                </div>

                <div class="flex justify-between ">


                    <div class="text-center ">
                        <label for="" class="text-center flex mb-2 ">CVC/CVV</label>
                        <div class="border flex py-3 rounded-lg w-[156px] bg-[#F4F4F4]">
                            <input type="{{ tipoContrasena }}" id="togglePassword" placeholder="***"
                                class="ps-4 w-full bg-[#F4F4F4] focus:outline-none focus:ring-0 "
                                formControlName="cvcCvv">
                            <fa-icon [icon]="showPassword ?  faEyeLowVision : faEye"
                                (click)="togglePasswordVisibility()" class="pe-4 cursor-pointer m-auto"></fa-icon>
                        </div>
                        <div *ngIf="cvcCvv?.errors && cvcCvv?.touched">
                            <div *ngIf="personalData.get('cvcCvv')?.hasError('required')"
                                class="text-[#BB4E4E] text-[13px]">
                                El CVC/CVV es requerido
                            </div>
                        </div>
                    </div>

                    <div class="text-center ">
                        <label for="" class="text-center flex mb-2">Vencimiento <span
                                class="text-[#BB4E4E]">*</span></label>
                        <div class="border  flex justify-between py-3 rounded-lg w-[156px] bg-[#F4F4F4]">
                            <input type="text" placeholder="12/10" class="ps-4 w-full  bg-[#F4F4F4]"
                                formControlName="expirationCard">
                            <fa-icon [icon]=" faCalendarCheck" class="pe-4 m-auto"></fa-icon>
                        </div>
                        <div *ngIf="expirationCard?.errors && expirationCard?.touched">
                            <div *ngIf="personalData.get('expirationCard')?.hasError('required')"
                                class="text-[#BB4E4E] text-[13px]">
                                La fecha de vencimiento es requerida
                            </div>
                        </div>
                    </div>


                </div>
                <div class="flex mb-4">
                    <input type="checkbox" formControlName="saveCard" class="flex border-none visually-hidden">
                    <fa-icon [icon]="CheckSaveCard ? faToggleOn : faToggleOff" (click)="toggleCheck()"
                        class="cursor-pointer text-2xl pe-1 flex justify-center"></fa-icon>

                    <p>Guardar tarjeta para futuras compras.</p>
                </div>

            </div>
            <div *ngIf="formErrors" class="text-[#BB4E4E] text-[13px] flex justify-center mt-2">
                Debe completar todos los campos correctamente.
            </div>
        </form>

    </div>

    <div class="flex justify-around bg-[#FFFFFF] py-3 mt-auto shadow-[0_-4px_8px_0px_rgba(0,0,0,0.12)]">
        <div class="flex-col m-auto">
            <fa-icon class="text-sm" [icon]="faUser"></fa-icon> {{numberPersons}} nomada <span
                class="inline-block align-middle rounded-full w-[4px] h-[4px] caret-lime-50 bg-black"></span> 1 al 5 de
            jul.
            <h5 class="font-extrabold">$595</h5>
        </div>

        <button class="bg-[#0CA1C2] text-[#FFFFFF]  w-[153px] h-[43px] rounded-md m-auto"
            (click)="detailsOpen ? onLoginFormSubmit() :  openFormDetails()" href="#details">Finalizar</button>

    </div>

</div>